.env
.env.*
!.env.example

/node_modules/
/web/storage/logs/*
!/web/storage/logs/.gitkeep
/ml-service/.venv/
/ml-service/artifacts/models/*
!/ml-service/artifacts/models/.gitkeep
/ml-service/artifacts/scalers/*
!/ml-service/artifacts/scalers/.gitkeep
/ml-service/artifacts/metadata/*
!/ml-service/artifacts/metadata/.gitkeep
/ml-service/logs/*
!/ml-service/logs/.gitkeep
/data/final/
/data/private/

__pycache__/
.pytest_cache/
*.pyc
