APP_NAME="Prediksi Harga Tembaga"
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost:8000

DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=copper_bigru
DB_USERNAME=root
DB_PASSWORD=

ML_API_URL=http://127.0.0.1:8001
ML_API_KEY=change-me-local
ML_API_TIMEOUT=300
